* {
	margin: 35;
	padding: 10;
	

}

body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 17px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    text-align: justify;
}

header {
	
	background-image: url(./pic4.png);
	height: 22vh;

	
}

body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 17px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

ul{
	float: right;
	list-style-type; none;
	margin-top: 15px
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	#border: 1px solid; #fff
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
	transition: 0.5s ease;
}

.main2{
	margin-left: auto;
	margin-right: auto;
	max-width: 1120px;
}
.Hist {
	float: left;
	list-style-type; none;
	margin-top: 15px

}



.logo {
    
    width: "45%";
    float: left;
    margin-top: 15px;
    margin-right: 40px;
    margin-bottom: 60px;

}

.logo1 {
    
    width: "45%";
    float: left;
    margin-top: 15px;
    margin-right: 40px;
    margin-bottom: 60px;

}



.vilon {
	text-align: left;
	margin-top: 55px;
	text-align: justify;
	font-size: 17px;

}

.logo2 {
    
    width: "45%";
    float: center;
    margin-top: 15px;
    margin-right: 50px;
    margin-bottom: 60px;

}

.logo3 {
    
    width: "45%";
    float: left;
    margin-top: 15px;
    margin-right: 50px;
    margin-bottom: 60px;

}
.his {
    
    width: "45%";
    float: center;
    margin-top: 15px;
    margin-right: 40px;
    margin-bottom: 60px;

}



.active {
	text-align: left;
	margin-top: 100px;
	text-align: justify;
	font-size: 17px;
	word-spacing: 1px;

}

.logo4 {
    
    width: "45%";
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    
    margin-left: 30px;

}

.lag {
	text-align: left;
	margin-top: 30px;
	text-align: justify;
	font-size: 17px;
	word-spacing: 1px;
	margin-left: 20px;


}


.logo5 {
    
    width: "45%";
    float: left;
    margin-top: 15px;
    margin-right: 50px;
    

}


.mer {
	text-align: left;
	margin-top: 50px;
	text-align: justify;
	font-size: 17px;
	word-spacing: 1px;

}
    








