
* {
	margin: 35;
	padding: 10;
	font-family: Garamond;
	font-weight: 500
	letter-spacing: 1px;
	word-spacing: 2px;

	
}

body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 17px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    text-align: justify;
}

header {
	
	background-image: url(./pic4.png);
	height: 22vh;

	
}

h2 {
    font-size: 140%;
    margin-bottom: 15px;
    color: #4689c6;
    text-align: center;
    font-size: 28px;

}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    font-weight: 880;
    
   
}

ul{
	float: right;
	list-style-type; none;
	margin-top: 15px
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	#border: 1px solid; #fff
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
	transition: 0.6s ease;
}


.main2{
	margin-left: auto;
	margin-right: auto;
	max-width: 1120px;
}
